.redditLink {
    font-weight:700;
    color:black;

}


.redditLink :hover {
    font-weight:1000
}
/* .reddtLinkWrapper :hover {
    background-color: azure;
    
} */

.containerWrapper :hover {
    background-color:blanchedalmond;
}

a :hover {
    color:blue;
}